.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => "25224"}
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group) do
      .main-header__edit-btn Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message], html:{id:"new_message", class:"new_message"} do |f|
      .form__mask
        = f.text_field :content, class: 'input-box__text', id:"message_content", placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file', id: "message_image"
        = f.submit 'Send', class: 'submit-btn'
        -# .form
  -#   = form_for [@group, @message], html:{id:"new_message", class:"new_message"} do |f|
  -#     .input-box
  -#       %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
  -#       %label.input-box__image{:for => "message_image"}
  -#         %i.far.fa-image
  -#         %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
  -#     %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/